<footer class="gallery-container footer">
    

        <ul>

            <li>
                <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/artysemenov/">LinkedIn</a>
            </li>
            <li>
                <i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/artyom.semenov.design/">Facebook</a>
            </li>
            <li>
                <i class="fab fa-instagram"></i><a href="https://instagram.com/artyomsemenov/">Instagram</a>
            </li>


        </ul>


    

    
        <p>
            I am <strong>Artyom Semenov</strong> and currently work as a UX Designer at MoneySuperMarket.com. I am Russian born, Scottish raised, designer from Chester, UK. Over the course of the last 5 years I worked for clients such as <em>Alzheimer Scotland, Sainsburys, BBC, and Kraft.</em> In recent years I tried myself in all areas of design until finally settling on digital product design (UX). This site is used to show off my latest work, drawings, doodles, designs, and document intereting things from my personal and professional life.

        </p>
    

</footer>
