<section class="whatdo">
            <h2>What I do</h2>
            <div class="gallery-container">
                <article class="pricecol">
                    <div class="icon">
                        <i class="far fa-object-group"></i>
                    </div>
                    <h3>
                        <span>UX Design</span>
                    </h3>
                    <p>I craft digital products that are usable, accessible, and intelligent. I am passionate about empowering users to achieve things they never thought possible wherever they are. My process is human centered and data driven, which allows me to create brilliant solutions built based on observation and data.

                    </p>
                </article>

                <article class="pricecol">
                    <div class="icon">
                        <i class="fas fa-file-image"></i>
                    </div>
                    <h3>
                        Graphic Design
                    </h3>
                    <p>I love beautiful things, and I enjoy making them. I work using the Adobe Suite and Autodesk Maya to create designs that grab attention, evoke emotion, and compell to act. I work with local printers to design <em>and</em> deliver any type of printed material, from a simple leaflet to conference collateral.
                    </p>
                </article>

                <article class="pricecol">
                    <div class="icon">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <h3>
                        Digital Art
                    </h3>
                    <p>This broad category covers a wide variety of digital artifacts that I love producing. I paint atmospheric, functional concept designs, render reallistic architectural visualisations, and work in CAD software to design products. I've worked on projects as concept artist, 3D artist, and product visualiser.
                    </p>
                </article>
                
                <article class="pricecol">
                    <div class="icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                    <h3>
                        Information Architecture
                    </h3>
                    <p>For me, good UX is based on excellent <em>information architecture</em>. How we search for information is largely based on our biases and understanding these biases is what I do. Randing from a few page website to a complicated financial website navigation, I make order with research and human centered design.
                    </p>
                </article>
                
                <article class="pricecol">
                    <div class="icon">
                        <i class="fas fa-bath"></i>
                    </div>
                    <h3>
                        Product development
                    </h3>
                    <p>Before I got into user experience design I studied a more generic topic—product design. My masters thesis was about the impact virtual reality will make on engineering design, manufacture and production. I studied human centered design methods aimed at use in robotics, virtual reality, and engineering.
                    </p>
                </article>
                
                <article class="pricecol">
                    <div class="icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <h3>
                        Front end development
                    </h3>
                    <p>This isn't something I do professionally, but since this section is called "what I do" I'll include it. Recently I became very interested in front end development. I spend my evenings optimising <em>this site</em>, making small prototypes for our new pattern library, and watching JavaScript tutorials.
                    </p>
                </article>
                
            </div>
        </section>